.portfolio li {
    border: .5em solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 0.75em;
    margin-right: 0.75em;
    margin-bottom: 0.75em;
    box-shadow: 0 0 4px #000;
    flex: 1 1 45%;
}
.portfolio li:first-child {
    flex-basis: 100%;
}
.portfolio img {
    width: 100%;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
}
